*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 130px;
}

div{
    background-color: white;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 300px;
    text-align: center;


}
.login-container{
    background-color: white;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    


}

h2{
    margin-bottom: 20px;
    font-size: 24px;
    color:#333;


}

form{
    font-size: 24px;
    color:#333;
    margin-bottom: 20px;
}


label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;

}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border:1px solid #ccc;
    border-radius: 5px;

}

button{
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    background-color: lightseagreen;
    width: 45%;
    ;
    
}
p{
    margin-top: 20px;
    font-size: 14px;
    color:#333
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}



button:hover{
    opacity: 0.8;
}